.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sidebar-header img {
  width: 200px;
  height: 200px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  z-index: 10;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 140px;
  position: fixed;
  top: 0;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

body {
  font-family: "Open sans", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Open sans", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background: #8929bb;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #8929bb;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #070707;
}

#sidebar ul img {
  padding: 50px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #8929bb;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #582275;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #d29aee;
}

.button-menu-mobile {
  border: none;
  display: inline-block;
  height: 18px;
  width: 18px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  padding: 0;
  line-height: 18px;
  background: #582275;
  color: white;
  border-radius: 50%;
  right: -6px;
}
.mdi-chevron-left:before {
  content: "\F141";
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.enlarged .side-menu .topbar-left .button-menu-mobile i:before {
  display: none;
  transform: rotate(180deg);
}

.bottom-menu {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.footer-section {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  text-align: center;
  font-size: 10px;
  color: black;
  transition: all 100ms ease-out;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  opacity: 1;
  visibility: visible;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 0;
  min-height: 80vh;
}

.main-bar {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 15px 30px;
  background: #fff;
  color: #434959;
  align-items: center;
}

.main-bar .page-title {
  margin: 0 !important;
}

.main-bar .page-title h4 {
  margin: 0;
  font-size: 18px;
  line-height: 1;
  color: #131c2e;
  font-weight: 700;
}

.main-bar .page-title ol {
  font-family: "Open sans", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-transform: initial;
  font-weight: 400;
  margin-top: 5px;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.breadcrumb-item.active a {
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #242e44;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.main-bar .page-title ol {
  font-family: "Open sans", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-transform: initial;
  font-weight: 400;
  margin-top: 5px;
}

.main-bar .section-title {
  position: relative;
  padding-left: 25px;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Opens sans", sans-serif;
  color: #202329;
  margin-left: 25px;
}

.main-bar .section-title:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  top: calc(50% - 15px);
  width: 1px;
  height: 30px;
  background: #dbdde2;
}

.main-bar .middle {
  margin-left: auto;
}
.main-bar .icon-block {
  margin-right: 20px;
}

.notification-block {
  position: relative;
}

#notification-box {
  width: 350px;
  height: 400px;
  padding: 25px;
  background: #fff;
  position: absolute;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 25px;
  top: 20px;
  right: -30px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  box-shadow: 0px 4px 20px rgb(67 73 89 / 20%);
}

#notification-box-header {
  height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f2f7;
}

#notification-box-header h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 5px 0 0;
}

#notification-box-header .badge {
  font-weight: 700;
}

.badge:empty {
  display: none;
}

.custom-scrollbar {
  overflow-x: hidden;
}

.card-container {
  overflow-y: auto;
  margin: 20px 0 0;
  flex-grow: 2;
}

#notification-box .notification-card:last-child {
  margin-bottom: 0;
}

#notification-box .notification-card {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #e1e4eb;
  padding: 10px;
  border-left: 5px solid var(--danger);
  border-radius: 10px;
}

.notification-card.no-notifications {
  text-align: center;
  font-weight: 700;
  padding: 10px;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
  color: #bac3d9;
}

.see-more-btn {
  display: block;
  margin: 20px auto 0;
  width: 100px;
  padding: 5px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Open sans", sans-serif;
  border: 1px solid var(--primary);
  color: var(--primary);
  font-weight: 700;
  border-radius: 20px;
  cursor: pointer;
}

.main-bar-expanded a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.main-bar .icon-block > i,
.main-bar .icon-block > a > i {
  font-size: 24px;
  line-height: 1;
  display: block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: inherit;
  color: #434959;
}

.mdi-bell-outline:before {
  content: "\F09C";
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-help-circle-outline:before {
  content: "\F625";
}

.main-bar .user-block {
  cursor: pointer;
  position: relative;
}

.main-bar .user-block .profile-img {
  height: 30px;
  border-radius: 50%;
  width: auto;
  margin-right: 5px;
}

.mdi-chevron-down:before {
  content: "\F140";
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topbar-user-box {
  position: absolute;
  width: 150px;
  padding: 0 !important;
  top: 30px;
  right: 0;
  z-index: -1;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
  -webkit-box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
  -moz-box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
}

.card-box {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(21 27 38 / 15%);
}

.topbar-user-box > p,
.topbar-user-box > a {
  width: 100%;
  float: left;
}
.topbar-user-box > a > i {
  margin-right: 5px;
  font-family: "simple-line-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e005";
}

.topbar-user-box > a {
  padding: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1;
  font-size: 11px;
  border-top: 1px solid #eaeff9;
  color: #212529;
}

@media (max-width: 1024px) {
  .content-page {
    padding: 0;
  }

  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
