<div class="navbar">
  <nav class="autohide navbar navbar-expand-sm navbar-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <span class="navbar-brand" href="#">Filter by:</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-8 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">To Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">In progress</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Done</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">All taskes</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown03">
                  <li><a class="dropdown-item" href="#">To Do</a></li>
                  <li><a class="dropdown-item" href="#">In progress</a></li>
                  <li><a class="dropdown-item" href="#">Done</a></li>
                </ul> -->
            </li>
          </ul>
          <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
    </div>
  </nav>
</div>