<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <link rel="stylesheet" href="/stylesheets/character-creation.css" />
    <title>Customize your character | BoardHero</title>
  </head>
  <body>
    <a href="/index"><img class="logo" src="images/logo/logo-purple.svg" alt="BoardHero logo"/></a>
    <div class="container">
      <div class="character-visual"></div>
      <div class="categories">
        <button>Skin color</button>
        <button>Hair</button>
        <button>Eyes</button>
        <button>Glasses</button>
        <button>Mouth</button>
        <button>Clothing</button>
      </div>
      <div class="option-list">
        <div class="choice">
          <img
            src="images/clothing-items/dress/dress1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/eyes/eyes1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/glasses/glass1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/hair/hair1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/hair/hair2.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/hair/hair-back1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/mouth/mouth1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/shield/shield1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/sword/sword1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/tie/tie1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/dress/dress1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/dress/dress1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="images/clothing-items/dress/dress1.svg"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
      </div>

      <a class="done-button" href="/signup">I'm done. Let's go!</a>
    </div>
  </body>
</html>
