<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <link rel="stylesheet" href="/stylesheets/character-creation.css" />
    <script defer src="/javascripts/createCharacter.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Customize your character | BoardHero</title>
  </head>
  <body>
    <a href="/index"><img class="logo" src="/images/logo/logo-white.svg" alt="BoardHero logo"/></a>
    <div class="container">
      <div id="character-visual-background"></div>

      <!-- BUTTONS FOR ELEMENT TYPES -->
      <div id="categories">
        <% typeOfElements.splice(2,1); typeOfElements.splice(8,1); typeOfElements.splice(10,1); typeOfElements.forEach(elem => { %>
          <button class="type-of-element" id="<%= elem.dataValues.type %>" onclick="getImages(this.id)"><%= elem.dataValues.type.replace("skincolor", "Skin color").replace("hair", "hair ") %></button>
          <% }) %>
      </div>

      <p id="intro-phrase">Select an element above to get started</p>

      <div class="option-list" id="option-list" style="display: none;"></div>

      <form id="createdCharacter" action="/character-creation/" method="POST">
        <a class="done-button" href="/User/signup" onclick="saveData()"><button type="submit">I'm done. Let's go!</button></a> 
      </form>
    </div>
  </body>
</html>
