<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Tomorrow:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/character-creation.css" />
    <link rel="icon" type="image/png" href="img/fav.icon.png" />
    <title>Customize your character | BoardHero</title>
  </head>
  <body>
    <a href="index.html"><img class="logo" src="img/logo/logo-purple.png" alt="BoardHero logo"/></a>
    <div class="container">
      <div class="character-visual"></div>
      <div class="categories">
        <button>Skin color</button>
        <button>Hair</button>
        <button>Eyes</button>
        <button>Glasses</button>
        <button>Mouth</button>
        <button>Clothing</button>
      </div>
      <div class="option-list">
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="img/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
      </div>

      <button class="done-button">I'm done. Let's go!</button>
    </div>
  </body>
</html>
