<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <link rel="stylesheet" href="/stylesheets/signup-option.css" />
    <title>BoardHero</title>
  </head>
  <body>
    <main>
      <img
        class="logo"
        src="/images/logo/logo-purple.svg"
        alt="Board Hero logo"
      />
      <div class="landing-option-container">

        <div class="example-character">
          <h2>Is this what you look like?</h2>
          <img src="images/characters/lookalike.svg" alt="Random character" />
          <button>
            <a href="/character-creation">Customize your character</a>
          </button>
        </div>

        <div class="no-character">
          <h2>No character for me at the moment, thanks</h2>
          <button><a href="/signup">Take me to the platform</a></button>
        </div>
      </div>
    </main>
  </body>
</html>
