<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Tomorrow:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/signup-option.css">
    <link rel="icon" type="image/png" href="img/fav.icon.png"/>
    <title>Board Hero</title>
  </head>
  <body>
    <main>
      <div class="landing-option-container">

        <div class="example-character">
          <h2>Is this what you look like?</h2>
          <img src="images/characters/lookalike.png" alt="Random character">
          <button><a href="character-creation.html">Customize your character</a></button>
        </div>

        <div class="no-character">
          <h2>No character for me at the moment, thanks</h2>
          <button><a href="signup.html">Take me to the platform</a></button>
        </div>

      </div>
    </main>
  </body>
</html>
