<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <link rel="stylesheet" href="/stylesheets/character-creation.css" />
    <script defer src="/javascripts/createCharacter.js"></script>
    <title>Customize your character | BoardHero</title>
  </head>
  <body>
    <a href="/index"><img class="logo" src="/images/logo/logo-white.svg" alt="BoardHero logo"/></a>
    <div class="container">
      <div class="character-visual-background"><div class="character-visual"></div></div>
      
      <div class="categories">
        <button id="skin-color">Skin color</button>
        <button>Hair</button>
        <button>Eyes</button>
        <button>Glasses</button>
        <button>Mouth</button>
        <button>Clothing</button>
      </div>
      <div class="option-list">
        <div class="choice">
          <img id="image-test"
            src="/images/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/shirt/shirt1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/glasses/glass1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/hair_front/hair1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/hair_back/hair-back2.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/hair_back/hair-back1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/mouth/mouth2.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/shield/shield1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/sword/sword1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/tie/tie1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
        <div class="choice">
          <img
            src="/images/clothing-items/dress/dress1.png"
            alt=""
            class="item-of-choice"
          />
          <p class="item-description">ITEM</p>
        </div>
      </div>

      <a class="done-button" href="/User/signup">I'm done. Let's go!</a>
    </div>
  </body>
</html>
