<!DOCTYPE html>
<html lang="en">
<head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <%- include('./partials/bootstrap-css-head') %>    
    <link rel="stylesheet" href="/stylesheets/create-task.css" />
    <title>Create New Task | Board Hero</title>
</head>

<body>
    <div class="global">
        <%- include('./partials/sidebar') %>
    
        <div class="home-section">
            <!-- %- include('./partials/navbar') %> -->
        
            <main>
                <div class="background-effect"></div>
                <section class="container-create-task">
                    <div class="dialog-heading">
                        <h2>Create task</h2>
                    </div>
        
                    <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-content">
                        <div class="form-columns">
                            <div class="form-details">
                                <label for="task-name">Task name</label>
                                <input type="text" id="task-name" name="task-name" required/>
                    
                                <label for="participants">Participants</label>
                                <input type="text" id="participants" name="participants" required/>
                    
                                <label for="tags">Tags</label>
                                <input type="text" id="tags" name="tags"/>
                    
                                <div class="task-dates">
                                    <label for="start-date">Start date</label>
                                    <input type="date" id="start-date" name="start-date"/>
                    
                                    <label for="due-date">Due date</label>
                                    <input type="date" id="due-date" name="due-date"/>
                                </div>
                            </div>
                            <div class="form-flags">
                                <label>Actions:</label>
                                <div class="options">
                                    <div class="flag">
                                        <input type="checkbox" name="task-flags" id="option-need-to-do">
                                        <label for="option-need-to-do">Need to do</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="task-flags" id="option-pending-tests">
                                        <label for="option-pending-tests">Pending tests</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="task-flags" id="option-pending-approval">
                                        <label for="option-pending-approval">Pending approval</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="task-flags" id="option-approved">
                                        <label for="option-approved">Approved</label>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        
                        <div class="attachments">
                            <label>Attachments</label>
                            <!-- <input type="file" name="task-files" multiple/> -->
                            <button type="submit" id="submit-files">Upload</button>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" id="submit">Create</button>
                        <a href="#">Cancel</a>
                    </div>
                    </form>
                </section>
          </main>
        </div>
    </div>

    <%- include('./partials/bootstrap-js-scripts') %>

</body>
</html>