<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <%- include('./partials/bootstrap-css-head') %>

  <title>BoardHero</title>
</head>

<body>
  <!-- Sidebar + Navbar -->
  <%- include('./partials/sidebar-and-navbar') %>

  <!-- Bootstrap JS -->
  <%- include('./partials/bootstrap-js-head') %>

</body>
</html>