<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/sidebars.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Tomorrow:wght@300;400;600&display=swap"
    rel="stylesheet" />
  <link rel="icon" type="image/png" href="/images/fav.icon.png" />
  <title>Board Hero | Home Page</title>

</head>

<body>
  <%- include('./partials/navbar')  %>
  <%- include('./partials/sidebar') %>
  <script src="/javascripts/sidebars.js"></script>
  <script src="/javascripts/navbar.js"></script>
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>