<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    
    <!-- CSS Links -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <title>Board Hero</title>
  </head>
  <body>
    <main>
      <div class="lp-character">
        <img src="/images/background/char1.svg" alt="Character" />
        <img src="/images/background/char2.svg" alt="Character" />
      </div>
      <div class="birds">
        <img src="/images/background/birbs.gif" alt="Flying birds" />
      </div>
      <img class="frog" src="/images/background/frog-jump.gif" alt="" />
      <div class="login-button">
        <a href="/login">Log in</a>
      </div>
      <div class="container">
        <div class="landing-container">
          <div class="questions">
            <span><strong>Productivity?</strong> Good.</span>
            <span><strong>Gamification?</strong> Good!</span>
          </div>
          <span class="productivity-gamification">Productivity + gamification?</span>
          <img
            class="logo"
            src="/images/logo/logo-purple.svg"
            alt="Board Hero logo"
          />
          <span class="subtitle">
            Your <strong>Kanban</strong> boards will never be the same.
          </span>
          <div class="get-started-button">
            <a href="/char-login">Get started</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
