<!DOCTYPE html>
<html lang="en">
<head>
    <!-- General Settings and Fonts -->
    <%- include('./partials/head-general-settings') %>    

    <!-- Tagify -->
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <!-- CSS Links -->
    <%- include('./partials/bootstrap-css-head') %>    
    <link rel="stylesheet" href="/stylesheets/task-create.css" />
    <link rel="stylesheet" href="/stylesheets/tagify-task-participants.css" />
    <title>Create New Task | Board Hero</title>
</head>

<body>
    <div class="global">
        <%- include('./partials/sidebar') %>
    
        <div class="home-section">        
            <main>
                <div class="background-effect"></div>
                <section class="container-create-task">
                    <div class="dialog-heading">
                        <h2>Create task</h2>
                    </div>
        
                    <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-content">
                        <div class="form-columns">
                            <div class="form-details">
                                <label for="task_name">Task name</label>
                                <input type="text" id="task_name" name="task_name" required/>
                    
                                <label for="participants">Participants</label>
                                <input id="participants" name="participants"/>

                                <label for="tags">Tags</label>
                                <input type="text" id="tags" name="tags" class='some_class_name'  placeholder='write some tags' />
                    
                                <div class="task-dates">
                                    <div class="start-date">
                                        <label for="start_date">Start date</label>
                                        <input type="date" id="start_date" name="start_date"/>
                                    </div>
                                    <div class="end-date">
                                        <label class="switch">
                                            <input type="checkbox" name="enable_end_date" id="enable_end_date">
                                            <span class="slider"></span>
                                        </label>
                                        <label for="end_date">Due date</label>
                                        <input type="date" id="end_date" name="end_date" disabled/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-flags">
                                <label>Actions:</label>
                                <div class="options">
                                    <div class="flag">
                                        <input type="checkbox" name="flag_need_to_do" id="option-need-to-do">
                                        <label for="option-need-to-do">Need to do</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="flag_pending_tests" id="option-pending-tests">
                                        <label for="option-pending-tests">Pending tests</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="flag_pending_approval" id="option-pending-approval">
                                        <label for="option-pending-approval">Pending approval</label>
                                    </div>
                                    <div class="flag">
                                        <input type="checkbox" name="flag_approved" id="option-approved">
                                        <label for="option-approved">Approved</label>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <label for="description">Description</label>
                        <textarea name="description" id="description"></textarea>
        
                        <div class="attachments">
                            <label for="files">Attachments</label>
                            <div class="upload-files">
                                <input type="file" name="task_files" id="files" multiple/>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer">
                        <button type="submit" id="submit">Create</button>
                        <a href="/homepage">Cancel</a>
                    </div>
                    </form>
                </section>
          </main>
        </div>
    </div>

    <%- include('./partials/bootstrap-js-scripts') %>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/taskCreate.js"></script>
    <script src="/javascripts/tagifyTaskParticipants.js"></script>
    <script src="/javascripts/tagifyTaskTags.js"></script>

</body>
</html>