* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  max-width: 1366px;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("../images/background/bg-character-creation.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.logo {
  position: relative;
  width: 120px;
  align-self: flex-start;
  margin: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  max-width: 1366px;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  background-color: #fafafade;
  border-radius: 5px;
  padding-top: 10px;
}

#character-visual-background {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fafafa;
  align-self: center;
  justify-self: center;
}

.character-visual {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  border: #8929bb solid 1px;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}

#categories {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}

#categories button {
  border: #8929bb solid 1px;
  font-weight: 400;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  padding: 7px 18px; /* para bater com os mesmos 10px do tamanho do outro botao -- esse tem borda de 1px */;
  font-size: 18px;
  border-radius: 4px;
  color: #8929bb;
  background-color: #fafafa;
  margin: 15px;
  cursor: pointer;
}

#categories button:first-letter {
  text-transform: capitalize;
}

#categories button:hover {
  border: #8929bb solid 1px;
  color: #fafafa;
  background-color: #8929bb;
}

#categories button:focus {
  border: #8929bb solid 1px;
  color: #fafafa;
  background-color: #8929bb;
}

.option-list {
  background-color: #fafafa;
  display: flex;
  border: #8929bb solid 1px;
  max-width: calc(100% - 300px);
  font-size: 14px;
  white-space: nowrap; /* nao deixa o texto quebrar dentro do botao - sempre uma linha */
  width: fit-content;
}

.item-description {
  margin: 8px;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8929bb;
  font-weight: 500;
  padding: 5px;
}

.choice img {
  width: 100px;
}

.choice:hover {
  background-color: #8929bb;
  color: #fafafa;
  font-weight: 600;
}

.choice:hover .item-of-choice {
  background-color: #fafafa;
  cursor: pointer;
}

#skincolor3 {
  display: none;
}

.skincolor {
  z-index: 1;
}
.dress {
  z-index: 11;
}
.eyes {
  z-index: 4;
}
.glasses {
  z-index: 5;
}
.hairback {
  z-index: 6;
}
.hairfront {
  z-index: 12;
}
.mouth {
  z-index: 8;
}
.pants {
  z-index: 10;
}
.pants {
  z-index: 10;
}
.shirt {
  z-index: 11;
}
.shoe {
  z-index: 9;
}
.tie {
  z-index: 14;
}

/* width */
::-webkit-scrollbar {
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8829bba6;
}

.container button {
  white-space: nowrap; /* nao deixa o texto quebrar dentro do botao - sempre uma linha */
  width: fit-content; /* o botao fica do tamanho do texto dentro */
  height: fit-content;
}

.done-button {
  border: #8929bb solid 1px;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  position: relative;
  padding: 9px 18px; /* para bater com os mesmos 10px do tamanho do outro botao -- esse tem borda de 1px */
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  color: #fafafa;
  background-color: #8929bb;
  margin: 15px;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
  text-decoration: none;
}

.done-button:hover {
  border: #8929bb solid 1px;
  color: #8929bb;
  background-color: #fafafa;
}

@media (max-width: 460px) {
  body {
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: none;
  }

  .logo {
    width: 130px;
    justify-self: center;
    margin: 0;
    background-image: url('/images/logo/logo-purple.svg');
  }

  .character-visual-background {
    max-width: 180px;
    max-height: 180px;
  }

  #character-visual {
    max-width: 180px;
    max-height: 180px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #categories {
    width: 50%;
    overflow-x: scroll;
  }

  #categories button {
    padding: 6px 12px; /* para bater com os mesmos 10px do tamanho do outro botao -- esse tem borda de 1px */
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    margin: 5px;
  }

  .option-list {
    width: calc(100% - 15px);
    font-size: 12px;
  }

  .item-description {
    margin: 2px;
  }

  .choice {
    font-weight: 400;
  }

  .choice img {
    width: 80px;
  }

  ::-webkit-scrollbar {
    height: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: #8829bbcc;
  }

  .done-button {
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 6px 16px; /* para bater com os mesmos 10px do tamanho do outro botao -- esse tem borda de 1px */
    font-size: 16px;
    margin: 12px;
  }
}
