* {
  box-sizing: border-box;
}

main {
  padding-top: 15px;
}

.all-columns {
  display: flex;
}

.home-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  color: #8929bb;
  /* font-weight: 600; */
  /* text-shadow: -0.8px 0 #fafafa, 0 0.8px #fafafa, 0.8px 0 #fafafa, 0 -0.8px #fafafa; */
}

.background-selection {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 48px;
  right: 30px;
  background-color: #fafafa;
  border: #8929bb 1px solid;
  border-radius: 4px;
  z-index: 50;
  display: none;
  padding: 10px;
}

.alert-change {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #ecd1fa;
  border: #8929bb 1px solid;
  border-radius: 4px;
  z-index: 50;
  display: none;
  padding: 20px;
  text-align: center;
}

.alert-change p {
  font-weight: 600;
  font-size: 18px;
  color: #8929bb;
  margin: 0;
  margin-bottom: 20px;
}

.dismiss-alert {
  cursor: pointer;
  color: #8929bb;
  text-decoration: none;
}

.dismiss-alert:hover {
  text-decoration: none;
  color:#8929bb
}

.background-selection p {
  font-size: 18px;
  color: #8929bb;
  margin-bottom: 5px;
}

.backgroundimg-preview {
  width: 150px;
  margin: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.background-selection button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fafafa;
  background-color: #8929bb;
  padding: 3px 10px;
  margin-bottom: 20px;
}

.tasks-dashboard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: #f1f1f1d8;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.create-workspace {
  width: 100px;
  height: 100px;
  border: 1px solid #5a0688;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 30%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-size: 22px;
  font-weight: 600;
  max-width: 160px;
  color: #5a0688;
  text-decoration: none;
}

.task-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fafafa;
  background-color: #8929bb;
  margin-bottom: 4px;
}

.task-info a {
  text-decoration: none;
  margin: 3px 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fafafa;
}

.task-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px 0;
}

.task-tags p {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  color: #8929bb;
  font-size: 12px;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.card-text {
  overflow: hidden;
  color: rgb(90, 90, 90);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tasks-dashboard input {
  max-width: 75%;
  height: 1.75rem;
}

.tasks-dashboar-button-align-info {
  display: flex;
  align-items: flex-end;
}
.tasks-dashboar-button-align-info button {
  height: 1.75rem;
  margin-left: 1rem;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  #menulinks {
    display: block;
  }

  #shmenulinks {
    display: none;
  }
}
