* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("/images/background/bg-landing-page.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 1366px;
  overflow-x: hidden;
  color: #45a0d4;
}

.lp-character {
  margin: 0;
  position: absolute;
  display: flex;
  height: 90vh;
  width: 90vw;
  align-content: flex-end;
  justify-content: space-between;
  padding: 0 60px;
}

.lp-character img {
  width: 125px;
  height: 125px;
  align-self: flex-end;
}

.frog {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  height: 150px;
}


.login-button {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 105px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #fafafa;
  padding-top: 6px;
}

.login-button a {
  text-decoration: none;
  text-align: center;
  color: #8929bb;
  font-size: 20px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  height: 600px;
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: 10px;
  margin: 5px;
  padding: 30px 0;
  font-size: 25px;
  z-index: 1;
}

.questions {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 35px;
}

.logo {
  width: 300px;
}

.subtitle {
  font-size: 18px;
  margin: 0 10px;
}

.get-started-button {
  border: none;
  width: 200px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #8929bb;
  padding-top: 8px;
}

.get-started-button a {
  text-decoration: none;
  color: #fafafa;
}

.birds {
  position: absolute;
  animation-name: fly;
  animation-duration: 50s;
  visibility: hidden;
}

.birds img {
  width: 75px;
}

@keyframes fly {
  0% {
    visibility: visible;
    opacity: 1;
    left: -75px;
    top: 100px;
  }
  50% {
    opacity: 1;
    left: 100vw;
    top: 200px;
  }
  100% {
    left: -75px;
    top: 300px;
  }
}

@media (max-width: 460px ) {
  body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 460px;
    background-size: cover;
    max-width: 100%;
    font-size: 14px;
  }

  .landing-container {
    max-width: 350px;
    width: 100%;
    margin: 10px;
    padding: 20px 10px;
    max-height: 400px;
  }

  .lp-character {
    padding: 0;
    height: 95vh;
  }

  .lp-character img {
    width: 100px;
    height: 100px;
    align-self: flex-end;
  }

  .frog {
    z-index: 5;
    bottom: 0;
    right: 0;
    height: 100px;
  }

  .questions {
    font-size: 18px;
    line-height: 25px;
  }

  .logo {
    width: 200px;
  }

  .get-started-button {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }

  .productivity-gamification {
    font-size: 18px;
  }
}

