@import url(./bootstrap.min.css);
@import url(./sidebars.css);
@import url(./navbar.css);
@import url(./inventory-store.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

