@import url(./bootstrap.min.css);
@import url(./setting.css);
@import url(./navbar.css);
@import url(./sidebars.css);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #fafafa;
}

.container {
  padding-left: 0px;
  margin-left: 0px;
}

.container-md {
  padding-left: 0px;
}

.sidebar-content {
  margin-right: 0px;
}

#sidebar-content {
  background-color: #8929bb;
  color: white;
}

.navbar {
  background-color: #8929bb;
}
