.container-settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc((100% - 720px)/2);
  left: calc((90% - 1024px)/2);
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.about-feedback {
    display: flex;
    flex-direction: column;
}

.settings-form button {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fafafa;
  background-color: #8929bb;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 15px;
}

.about-feedback a {
  text-decoration: none;
  color: #8929bb;
}