.container-settings {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}


form {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

.about-feedback {
    display: flex;
    flex-direction: column;
}

.settings-form button {
  border: none;
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fafafa;
  background-color: #8929bb;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 15px;
}

.about-feedback a {
  text-decoration: none;
  color: #8929bb;
}