* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/background//bg-selection-landingpg.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100vw;
  height: 100vh;
  color: #8929bb;
}

.logo {
  display: none;
}

button {
  font-family: "Open Sans", sans-serif;
}

.landing-option-container {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: rgba(247, 247, 247, 0.95);
  border-radius: 5px;
  margin: 5px;
  padding: 30px;
  font-size: 25px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.example-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 40vw;
  border-right: solid #8929bb 2px;
}

.example-character img {
  width: 250px;
  background-color: #8829bb49;
  border: #8929bb solid 2px;
  border-radius: 4px;
  margin: 15px;
}

.example-character button {
  border: none;
  width: fit-content; /* o botao fica do tamanho do texto dentro */
  height: fit-content;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #8929bb;
  margin: 15px;
  white-space: nowrap; /* nao deixa o texto quebrar dentro do botao - sempre uma linha */
}

.example-character button a {
  text-decoration: none;
  color: #fafafa;
}

.no-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 35px;
  width: 40vw;
  padding: 30px;
  margin: 15px;
}

.no-character button {
  border: #8929bb solid 1px;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  padding: 9px 18px; /* para bater com os mesmos 10px do tamanho do outro botao -- esse tem borda de 1px */
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  color: #8929bb;
  background-color: #fafafa;
  margin: 15px;
}

.no-character button a {
  text-decoration: none;
  color: #8929bb;
}

@media (max-width: 460px) {
  body {
    background-image: none;
    text-align: center;
    max-width: 460px;
    font-size: 14px;
    background-color: #fafafa;
  }

  .logo {
    display: inline;
    width: 200px;
    margin-top: 65px;
  }

  .landing-option-container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 10px;
    padding: 20px 10px;
    max-height: 100vh;
    background-color: #fafafa00;
    font-size: 18px;
  }

  .no-character {
    width: 100vw;
  }

  .no-character h2 {
    font-weight: 400;
  }

  .example-character {
    border: none;
    width: 100vw;
  }
}

/* @media (max-width: 768px) {
  body {
    background-image: none;
    background-color: #fafafa;
    text-align: center;
    justify-content: center;
  }

  .landing-option-container {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 10px;
    padding: 20px 10px;
    max-height: 100vh;
    background-color: #fafafa00;
    font-size: 18px;
  }

  .no-character {
    width: 100vw;
  }

  .no-character h2 {
    font-weight: 400;
  }

  .example-character {
    border: none;
    width: 100vw;
  }

  .logo {
    display: inline;
    width: 300px;
    margin-top: 65px;
  }
}
 */