  .tagify {
    margin-bottom: 8px;
    background: white;
    font-size: 14px;
    --tags-border-color: gray;
    --tags-focus-border-color: #8929bb;
    --tag-bg: #8929bb;
    /* need to change the border-color of the dropdown */
  }
  
  .tagify__dropdown.users-list {
    font-size: 14px;
    border-color: #8929bb;
  }
  
  /* Suggestions items */
  .tagify__dropdown.users-list .tagify__dropdown__item{
    padding: .5em .7em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    grid-template-areas: "avatar name"
                         "avatar email";
  }
  .tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap{
    transform: scale(1.2);
  }
  .tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap{
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: #EEE;
    transition: .1s ease-out;
  }
  .tagify__dropdown.users-list img{
    width: 100%;
    vertical-align: top;
  }
  .tagify__dropdown.users-list strong{
    grid-area: name;
    width: 100%;
    align-self: center;
  }
  .tagify__dropdown.users-list span{
    grid-area: email;
    width: 100%;
    font-size: .9em;
    opacity: .6;
  }
  .tagify__dropdown.users-list .addAll{
    border-bottom: 1px solid #DDD;
    gap: 0;
  }
  
  /* Tags items */
  .tagify__tag{
    white-space: nowrap;
  }
  .tagify__tag:hover .tagify__tag__avatar-wrap{
    transform: scale(1.6) translateX(-10%);
  }
  .tagify__tag .tagify__tag__avatar-wrap{
    width: 16px;
    height: 16px;
    white-space: normal;
    border-radius: 50%;
    background: silver;
    margin-right: 5px;
    transition: .12s ease-out;
  }
  .tagify__tag img{
    width: 100%;
    vertical-align: top;
  }