  .home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    margin-top: 5vh;
  }
  
  .background-effect {
    background-color: #2B2031;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    z-index: -15;
  }

  .container-create-task {
    background-color: rgba(247, 247, 247, 0.85);
    border: #8929bb solid 1.5px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 770px;
    height: 100%;
    max-height: 700px;
    margin: 5px;
    padding-left: 30px;
    padding-right: 10px;
  }
  
  .dialog-heading h2 {
    font-size: 24px;
    font-weight: 600;
    color: #8929bb;
    margin: 10px 0;
  }
  
  .container-create-task form {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
    
  .container-create-task textarea {
    font-size: 14px;
    min-height: 142px;
    width: 690px;
    resize: vertical;
  }
  
  .container-create-task label {
    font-size: 14px;
    padding-bottom: 3px;
  }
  
  .form-columns input {
    font-size: 14px;
    height: 28px; 
    padding: 5px;
    margin-bottom: 8px;
    border-style: solid 1px gray;
    border-radius: 1.7;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  /* Scrollbar width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #8829bba6;
  }
  
  .form-columns {
    display: flex;
    flex-direction: row;
  }
  
  .form-details {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }
  
  input[type='checkbox'] {
    filter: hue-rotate(60deg) grayscale(35%);
  }

  .form-flags {
    display: flex;
    flex-direction: column;
  }

  .form-flags > label {
    color: #8929bb;
    font-weight: bold;
  }

  .form-flags .flag {
    display: flex;
    align-items: center;
  }

  .form-flags .flag input {
    margin: 0;
  }

  .form-flags .flag label {
    padding-bottom: 0;
    padding-left: 10px;
  }
  
  .task-dates {
    margin: 8px 0;
  }

  #enable_end_date {
    height: 13px;
  }

  .upload-files {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #8929bb dashed 1px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    background-color: #fafafa;
    width: fit-content;
    padding: 8px;
    margin-top: 5px;
    transition: all 0.5s;
  }
  
  .upload-files:hover {
    border: #8929bb solid 1px;
  }

  input[type=file]::-webkit-file-upload-button {
    background: #fafafa;
    border: 1px solid #8929bb;
    border-radius: 3px;
    color: #8929bb;
    font-weight: 600;
  }

  .form-footer {
    align-self: flex-end;
  }
  
  .form-footer button {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    color: #fafafa;
    background-color: #8929bb;
    padding-bottom: 2px;
    margin-top: 18px;
  }
  
  .form-footer a {
    color: #8929bb;
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 20px;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 850px) {
    .sidebar, .background-effect {
      display: none;
      position: relative;
    }

    main {
      margin: 0;
    }

    .home-section {
      display: block;
      width: 100%;
      left: 0px;
    }

    .container-create-task {
      justify-content: flex-start;
      border: none;
      height: 100vh;
      max-height: none;
      width: 100%;
      margin: 0;
    }

    .dialog-heading h2 {
      margin: 20px 0;
    }

    .form-content {
      padding-right: 25px;
      padding-bottom: 10px;
      height: fit-content;
    }

    .form-columns {
      flex-direction: column;
      padding-bottom: 10px;
    }
    
    .form-details {
      padding-right: 0;
    }

    .task-dates {
      display: flex;
      flex-direction: column;
      width: 160px;
    }

    .container-create-task textarea, .upload-files {
      width: 100%;
    }

    ::-webkit-scrollbar {
      width: 4px;
    }

    .form-footer {
      position: absolute;
      top: 0;
    }
  }
  
  @media screen and (max-width: 490px) {
    .dialog-heading h2 {
      font-size: 22px;
    }

    .form-footer button {
      width: 70px;
      height: 35px;
      font-size: 14px
    }
    .form-footer a {
      font-size: 14px;
      padding-left: 5px;
      padding-right: 10px;
    }

    input[type=file]::-webkit-file-upload-button {
      display: flex;
      flex-direction: column;
    }
  }
  