.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 10px;
}

.background-effect {
  background-color: #2b2031;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  z-index: -15;
}

.go-back {
  display: none;
}

.container-view-task {
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-right: 5px;
  margin-top: 5px;
}

.dialog-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  flex-grow: 5;
  margin-bottom: 15px;
}

.dialog-heading h2 {
  font-size: 24px;
  font-weight: 600;
  color: #8929bb;
  margin-top: 10px;
}

.container-view-task form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.container-view-task label {
  font-size: 16px;
  padding-bottom: 3px;
}

/* precisa ser alterado para poder dar um "tag" nos itens dentro */
.container-view-task input {
  font-style: italic;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  margin-bottom: 8px;
  border-style: solid 1px gray;
  border-radius: 1.7;
}

.container-view-task textarea {
  font-size: 14px;
  min-height: 142px;
}

.form-content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-x: hidden;
  padding: 0 25px;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #8829bba6;
}

.form-columns {
  display: flex;
  flex-direction: column;
}

.form-details {
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.left-container {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  max-width: 525px;
}

.btn-participants, .btn-tags, .btn-edit-description, .btn-create-comment {
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #8929bb;
  color: #8929bb;
  background-color: #fafafa;
  padding: 5px 8px;
  margin-bottom: 8px;
}

.due-date {
  margin: 5px 0;
}

.due-date strong {
  color: #8929bb;
}

input[type="checkbox"] {
  filter: hue-rotate(60deg) grayscale(35%);
}

.action-buttons {
  margin-right: 30px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-end;
}

.actions {
  padding-right: 30px;
}

.actions > label {
  color: #8929bb;
  font-weight: bold;
}

.form-actions .flag {
  display: flex;
  align-items: center;
}

.form-actions .flag label {
  padding-bottom: 8px;
  padding-left: 10px;
}

.attachments-reminders-flags {
  margin-top: 10px;
  display: flex;
}

.attachments-reminders-flags a {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  text-decoration: none;
  color: #2b2031;
  font-size: 10px;
  align-items: center;
  align-self: flex-start;
}

.attachments-reminders-flags p {
  padding-top: 3px;
}

#finish-task {
  border: none;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  color: #fafafa;
  background-color: #8929bb;
  padding: 5px 10px;
  margin-top: 18px;
}

#progress-task {
  color: #8929bb;
  text-decoration: none;
  font-size: 16px;
  padding: 0 10px;
}

#delete-task {
  color: #8929bb;
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
}

#delete-task:hover {
  text-decoration: underline;
}

.description-section {
  margin: 10px 0;
}

#description {
  border: #8929bb solid 0.5px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #fafafa;
  padding: 10px;
  color: black;
  margin-bottom: 0;
}

#description span {
  font-style: italic;
  color: #757575;
}

.form-subtitle {
  color: #8929bb;
  font-size: 18px;
  margin-bottom: 0;
}

.comment-section {
  margin: 10px 0;
}

.comments {
  margin-top: 10px;
}

#new-comment {
  width: 300px;
}

.single-comment {
  display: flex;
  margin-bottom: 10px;
}

.avatar {
  position: relative;
  top: 0;
  left: 0;
}

.unique-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: #8929bb solid 1px;
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;
  justify-self: center;
}

.comment-info {
  margin-left: 60px;
  margin-bottom: 10px;
}

.commentator-name {
  color: #8929bb;
  font-weight: 600;
}

.comment-text {
  border: #8929bb solid 0.5px;
  font-size: 14px;
  background-color: #fafafa;
  padding: 10px;
}

.comment-text p {
  margin: 0;
}

.comment-text:focus {
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .sidebar,
  .background-effect {
    display: none;
    visibility: hidden;
    position: relative;
  }

  .go-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #8829bb7e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 10px;
    top: 40%;
  }

  .go-back a {
    color: #fafafa;
    text-decoration: none;
    font-weight: 800;
  }

  main,
  .action-buttons,
  .dialog-heading h2 {
    margin: 0;
  }

  .form-content {
    height: 100vh;
  }

  .home-section {
    position: relative;
    left: 0px;
    display: block;
  }

  .container-view-task form,
  #finish-task,
  .form-details {
    padding: 0;
  }

  .container-view-task {
    width: 100vw;
    margin: 0;
  }

  .form-columns {
    flex-direction: column;
  }

  .dialog-heading {
    margin-top: 0;
    padding-bottom: 10px;
  }

  .form-actions {
    align-items: unset;
  }

  .container-view-task form {
    width: 100vw;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}

@media screen and (max-width: 768px) {
  .left-container {
    padding-right: 25px;
  }
}
